Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
ColumnLimit: 120
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
FixNamespaceComments: true
IndentWidth: 4
SortIncludes: CaseSensitive
SortUsingDeclarations: true
SpacesBeforeTrailingComments: 1
TabWidth: 4
InsertBraces: true
BreakBeforeBraces: Attach