<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>
        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>arm_motor_controller/ArmSystemHardware</plugin>
                <param name="port">/dev/ttyUSB0</param>
                <param name="baudrate">115200</param>
                <param name="parity">None</param>
                <param name="bytesize">8</param>
                <param name="stopbits">1</param>
                <param name="timeout">100</param>
            </hardware>
            <joint name="joint_1">
                <param name="type">none</param>
                <param name="id">1</param>
                <param name="min">-32000</param>
                <param name="max">32000</param>
                <param name="rpm">64</param>
                <param name="homePosition">0</param>
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="home"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="home"/>
            </joint>
            <joint name="joint_2">
                <param name="type">none</param>
                <param name="id">2</param>
                <param name="min">0</param>
                <param name="max">3200</param>
                <param name="rpm">32</param>
                <param name="homePosition">0</param>
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="home"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="home"/>
            </joint>
            <joint name="joint_3">
                <param name="type">none</param>
                <!-- <param name="type">iCL</param> -->
                <param name="id">3</param>
                <param name="min">-32000</param>
                <param name="max">0</param>
                <param name="rpm">32</param>
                <param name="reverse">1</param>
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="home"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="home"/>
            </joint>
            <joint name="joint_4">
                <param name="type">none</param>
                <param name="id">4</param>
                <param name="min">0</param>
                <param name="max">3200</param>
                <param name="rpm">32</param>
                <param name="homePosition">0</param>
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="home"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="home"/>
            </joint>
            <joint name="joint_5">
                <param name="type">none</param>
                <param name="id">5</param>
                <param name="min">0</param>
                <param name="max">3200</param>
                <param name="rpm">32</param>
                <param name="homePosition">0</param>
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="home"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="home"/>
            </joint>
            <joint name="joint_6">
                <param name="type">Servo42D</param>
                <!-- <param name="type">Servo57C</param> -->
                <!-- <param name="type">none</param> -->
                <param name="id">6</param>
                <param name="min">-144000</param>
                <param name="max">144000</param>
                <!-- <param name="min">-288000</param>
                <param name="max">288000</param> -->
                <param name="rpm">2400</param>
                <param name="homeSpeed">10</param>
                <param name="homeConfig">0</param> <!-- dir, GPIO 4-->
                <param name="reverse">0</param>
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="home"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="home"/>
            </joint>
            <joint name="grip_joint">
                <!-- <param name="type">Servo42D</param> -->
                <param name="type">none</param>
                <param name="id">7</param>
                <param name="min">0</param>
                <param name="max">3200</param>
                <param name="rpm">32</param>
                <param name="homePosition">0</param>
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="home"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['grip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="home"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
